/** 通用样式**/
*{
    margin:0;
    padding:0;
}

body{ font: 14px/24px 'Microsoft YaHei', '宋体','"Helvetica Neue", Helvetica, Arial, sans-serif' }
.l{
    float:left;
}
.r{
    float:right;
}
.c{
    clear:both;
}
.center{
    margin: 0 auto;
}
.width_{
    width:960px;
}

/*头-顶部*/
.top{
    width:100%;
    height:22px;
    background-color: #303030;
    color:#d8d8d8;
    line-height: 22px;
}
.top .xingx1{
    margin-right:10px;
}
.top a{
    color:#d8d8d8;
    text-decoration: none;
}
/*头-中部*/
.center_header{
    margin-top: 14px;
}
.header .td1{
    height: 41px;
    width: 6px;
    background: url(../img/s_z.jpg) no-repeat;
}

.header .td2{
    height: 41px;
    width: 150px;
    background: url(../img/s_c.jpg) repeat-x;

}

.header .td3{
    height: 41px;
    width: 78px;
    background: url(../img/s_r.jpg) no-repeat;
}
.header .tabsous{
    margin-left: 136px;
    margin-top: 10px;
}
.header .inputsous{
    height: 30px;
    width:200px;
    border: 0px;
    outline:none;
}

.header .soussubmit{
    height: 41px;
    width:78px;
    border: 0px;
    background: none;
    cursor: pointer;
}

.header .dianhua{
    color: #ff2a00;
    font-size: 21px;
    margin: 24px 0px 0px 0px;
}


/*导航*/
.nav{
    width:100%;
    height:39px;
    background: url(../img/nav_bg.jpg) repeat-x;
}
.nav li{
    list-style: none;
    float:left;
    line-height: 39px;
    padding:0px 29px;
}

.nav a{
    text-decoration: none;
    color:#d8d8d8;
}
.nav .astyle,.nav li:hover{
    background-color: darkred;
}
/*body*/
.main{
    margin-top: 10px;
}
.body .image{
    margin-top: 1px;
    height: 206px;
    background: url(../img/ad.jpg);
}
.jianjie{
    width: 496px;
    margin-right: 12px;
}
.jianjie .title{
    padding-bottom: 5px;
    border-bottom:red solid 2px ;
    height: 37px;
    position: relative;
}
.jianjie .pic{
    width: 199px;
    height: 37px;
    background:url(../img/jianjie.jpg) no-repeat;
    float:left;
}
.jianjie .more{
    position:absolute;
    right: 0px;
    bottom: 0px;
    color: darkred;
}
.jianjie .content{
    margin-top: 10px;
    width: 496px;
}
.jianjie .contentpic{
    width: 200px;
    height: 99px;
    background: url(../img/jianjie_img.jpg) no-repeat;
    float:left;

}
.jianjie .contenttext{
    text-indent: 5%;
    color: #616161;
}

/*新闻*/
.xinwen{
    width: 442px;
    margin-left: 10px;
}
.xinwen .title{
    height: 37px;
    padding-bottom: 5px;
    position: relative;
    border-bottom: red solid 2px;
}
.xinwen .pic{
    width: 168px;
    height: 37px;
    background:url(../img/xinwen.jpg) no-repeat;
    float:left;
}

.xinwen .title span{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.xinwen .content{
    height:219px;
    margin-top: 10px;
}
.xinwen .content .xwcontentpic{
    width: 120px;
    height: 66px;
    margin-right: 15px;
    background: url(../img/list_img.jpg) no-repeat;
    float:left;
}
.xinwen .content .xwcontenttext{
    text-indent: 5%;
    color: #616161;
}
.ptitle{
    font-size: 15px;
    font-weight: 500;
    text-indent: 0%;
}
.xinwen .content .list{
    list-style: none;
    list-style-image: url("../img/list_bg.jpg");
    list-style-position: inside;
}

.xinwen .content .list li{
    position: relative;
    margin-top: 10px;
    color: #616161;
}


.xinwen .content .list li span{
    position: absolute;
    right:0px;
    bottom:0px;
    font-size: 10px;
}

.chanpingtj{
    margin-top: 10px;
}
.chanpingtj .title{
    border-bottom: red solid 2px;
    padding-bottom: 5px;
    position: relative;
}
.chanpingtj .pic{
    width: 287px;
    height: 37px;
    background:url(../img/chanpin.jpg) no-repeat;
}

.chanpingtj .more{
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.chanpingtj li{
    list-style: none;
    height: 91px;
    width: 151px;
    float: left;
    overflow: hidden;
    position: relative;
}

.chanpingtj li span{
    display: none;
    position: absolute;
    left:0px;
    bottom: 0px;
    width: 151px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    overflow: hidden;
    color:#fdfefe;
    background-color: darkred;
}
.chanpingtj a:hover span{
    display:block;
}
.lmr_0{
    margin:10px 5px 0px 0px;
}
.rmr_0{
    margin:10px 0px 0px 5px;
}
.chanpingtj .up_{
    margin:10px 5px 0px;
}

.chanpingtj .down_{
    margin:10px 5px 0px;
}
.chanpingtj .content{
}

/**footer*/
.footer{
    width: 100%;
    height:103px;
    background:url(../img/footer_bg.jpg) repeat-x;
    margin-top: 10px;
}

.footer .topleft{
   position: relative;
}

.topleft li{
    float:left;
    list-style: none;
    margin:30px 5px 0px 0px;
}

.topleft a{
    border-right:#fdfefe solid 2px;
    text-decoration: none;
    color:#fdfefe;
    display: block;
    font-size: 16px;
    height: 16px;
    line-height: 16px;
    padding-right: 5px;
}
.topleft .lastli{
    border-right:#fdfefe solid 0px;
}
.topleft span{
    position: absolute;
    right: 0px;
    bottom: 0px;
    color:#fdfefe;
    font-size: 16px;
}

.topright{
    margin-top: 33px;
}

.topright span{
    font-size: 15px;
    float:left;
    color: #ff6600;
}
.topright li{
    float: left;
    list-style: none;

}
.topright li a{
    text-decoration: none;
    font-size: 15px;
    color: #fdfefe;
    margin-right: 5px;
}


.fenxiang{
    height: 205px;
    width: 40px;
    background: url(../img/top_tool.jpg) repeat-x;
    position: fixed;
    right:50px;
    bottom: 60px;
}